---
import "../styles/global.css";
import NavBar from '../components/Navbar.astro'

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <NavBar />
    <h1>Asdkfmkasdmf</h1>

    <ul>
      <li>ASdf</li>
      <liasd></liasd>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
