<style>
    a {
        color: #666;
        text-decoration: none;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 16px;
    }
</style>

<nav>
    <ul>
        <li>
            <a href="/astro-lecture-example">Home</a>
        </li>
        <li>
            <a href="/astro-lecture-example/about">About Me</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
    </ul>
</nav>